@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'ambit-bold';
    src: url('./assets/fonts/Ambit-Bold.ttf');
}
@font-face {
    font-family: 'ambit-regular';
    src: url('./assets/fonts/Ambit-regular.ttf');
}
@font-face {
    font-family: 'ppmori-regular';
    src: url('./assets/fonts/PPMori-Regular.ttf');
}
@font-face {
    font-family: 'ppmori-semibold';
    src: url('./assets/fonts/PPMori-Semibold.ttf');
}
@font-face {
    font-family: 'cursive';
    src: url('./assets/fonts/cursive.woff2');
}
.app{
  background: linear-gradient(to top left, #cf9af5 0%, #d7b4f0 100%);
}